# Virtual Environment
run3_env/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# macOS
.DS_Store

# IDE
.vscode/
.idea/